<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between menu-certificado align-items-center w-100">
    <div class="d-flex align-items-center gap-2">
      <i class="ph ph-arrow-left active"></i>
      <p class="m-0 fw-medium back-button">Voltar</p>
    </div>
    <app-secondary-button />
  </div>
  <div class="certificado d-flex justify-content-center align-items-center">
    <img src="./certificate/certificate_ribbon.png" alt="Ícone de medalha" class="icone-medalha">
    <div class="conteudo-certificado"></div>
  </div>
</div>
